@font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-style: italic;
    src: url('./assets/fonts/Ubuntu-BoldItalic.ttf')
        format('truetype-variations');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: italic;
    src: url('./assets/fonts/Ubuntu-Italic.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    src: url('./assets/fonts/Ubuntu-Light.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: italic;
    src: url('./assets/fonts/Ubuntu-LightItalic.ttf')
        format('truetype-variations');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: italic;
    src: url('./assets/fonts/Ubuntu-MediumItalic.ttf')
        format('truetype-variations');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype-variations');
}

:root {
    --color-base-week: #ffffff;
    --color-accent: #373af5;
    --color-secondary: #8083a4;
    --color-base-strong: #2c2d76;
    --color-critic: #e5596d;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-accent);
    background-image: url('./assets/image/Weather-forecast-Bg-top@2x.png'),
        url('./assets/image/Weather-forecast-Bg-bottom@2x.png'),
        url('./assets/image/Weather-forecast-Bg-part@2x.png');
    background-position: top right, bottom left, top left;
    background-size: 40% auto, 45% auto, 35% auto;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1280px) {
    body {
        background-size: 50% auto, 55% auto, 36% auto;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-size: 50% auto, 75% auto, 37% auto;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('./assets/image/Weather-forecast-Bg-top.png'),
            url('./assets/image/Weather-forecast-Bg-bottom.png'),
            url('./assets/image/Weather-forecast-Bg-part.png');
        background-size: 80% auto, 80% auto, 37% auto;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-size: 90% auto, 90% auto, 37% auto;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-position: top left, bottom left, top left;
        background-size: 320px auto, 320px auto, 121px auto;
    }
}
